body,.pure-g [class *="pure-u"] {
  font-family: "zona_prothin", Arial, serif;
}

.header span{
  display:inline;
  font-size:2em;
  font-weight:bold;
}

.header span:nth-of-type(1){
  color:#EC1B46;
}

.header span:nth-of-type(2){
  color:#2C4043;
}

.swathe{
  background-color:#EC1B46;
  margin-top:1em;
  /*height:75px;*/
  width:100%;
}

.swathe div{
  box-sizing:border-box;
  padding:10px 20px;
  display:inline-block;
  min-width:calc(10% - 10px);
  max-width:calc(17% - 10px);
  font-size:1.5em;
  color:#fff;
}

#placeholder{
  width: 100%;
}

.cont{
  width: 33%;
  float: left;
}

.axisY{
  position: absolute;
  /*background-color: #fff;*/
  width: 42px;
  height: 300px;
}

.axis {
  font-size: 10px;
  stroke-width: 0.5;
}
.y{
  fill: #999;
}
.axis path,
.axis line {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}

.overlay {
  fill: none;
  pointer-events: all;
  /*cursor:crosshair;*/
  stroke: none !important;
}

.focus circle {
  fill: none;
  stroke: #EC1D46;
  /*stroke:#fcb615;*/
  stroke-width: 2px;
}

.infoBox{
  background-color: #ededed;
  padding: 5px 0 5px 5px;
  border-radius: 2px;
  width: calc(100% - 35px);
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 15px;
  height: 38px;
}

.date{
  padding-left: 2%;
  font-size: 14px;
  font-weight: 500;
  float: left;
  width: 35%;
  color: #01626A;
}

.amLab{
  font-size: 14px;
  color: #01626A;
  font-family: "robotobold", Arial;
}

.amount{
  color: #1BBECF;
  font-family: "robotobold", Arial;
}

.percLab{
  font-size: 14px;
  color: #01626A;
}

.amountDiv{
  font-size: 18px;
  float: left;
  max-width: 28%;
  border-left: 1px solid #333;
  padding-left: 2%;
}

.countryLab{
    font-size: 18px;
    float: right;
    color: #353535;
    padding-right: 3px;
}

.percDiv{
  padding-left: 2%;
  font-size: 21px;
  width: 28%;
  display: inline-block;
  border-left: 1px solid #333;
}

.perc{
  float: left;
  color: #005689;
}

.outerBar{
  background-color: #fff;
  height: 15px;
  width: 55%;
  margin-left: 80px;
  margin-top: 2px;
}

.fillBar{
  height: 15px;
  background-color: #1BBECF;
  -webkit-transition: width 0.2s linear;
  -moz-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  transition: width 0.2s linear;
}

.outOf{
  font-size: 12px;
  clear: both;
  color: #005689;
}

.sources{
  font-size: 13px;
  color: #767676;
}

.clear{
  clear: both;
}


.header h1{
-webkit-animation: text-pulse 1.5s ease-out;
-webkit-animation-iteration-count: infinite;
}
.l-box{min-height:300px;background-color:none;margin:2px;border:2px solid transparent;box-sizing:border-box;border-radius:0px;}
.l-box h3{font-size:2.5em;padding:0px 10px;}
.l-box p{padding:10px;font-size:17px;}
.pure-g:nth-child(even) .l-box{ border:2px solid transparent;}
.pure-g:nth-child(odd) > div:nth-child(1) .l-box{background-color:#1BBECF;}
.pure-g:nth-child(even) > div:nth-child(1) .l-box{background-color:#fcb615;}
path.domain{fill:none;stroke:#000;stroke-width:1px;shape-rendering:crispEdges;}
.axis text{font-size:12px;}
.axis.x .tick text{text-anchor:start!important;}
.axis.y path.domain{stroke:none;}

@-webkit-keyframes text-pulse {
  0% {-webkit-transform: text-shadow:red 0px 0px 10px;}
  50% {text-shadow:red 0px 0px 10px;}
  100% {-webkit-transform: text-shadow:red 0px 0px 10px;}
}



@-webkit-keyframes pulse {
  0% {-webkit-transform: stroke-width:5px;}
  50% {stroke-width:0px;}
  100% {-webkit-transform:stroke-width:5px;}
}

.pulse{
    fill:red;
    stroke:black;
    -webkit-animation: pulse 1s ease-out;
    -webkit-animation-iteration-count: infinite;
}


@media (max-width: 768px){
  .swathe div{
    box-sizing:border-box;
    padding:10px 20px;
    display:block;
    min-width:100%;
    text-align:left;
    /*max-width:calc(15% - 10px);*/
    font-size:1.5em;
    color:#fff;
  }
}

@media (max-width: 460px) {
  /*body{
    width: 300px;
  }*/
  
  .date{
    width: 38%;
    float: left;
    margin-bottom: 8px;
    font-size: 14px;
    margin-right: 5px;
  }

   .amountDiv{
    font-size: 18px;
    float: left;
    width: 23%;
    border-left: 0px;
    padding-left: 2%;
  }

  .countryLab{
    font-size: 16px;
  }

  .amLab{
    font-size: 13px;
  }

  .percDiv{
    padding-left: 3%;
    font-size: 18px;
    width: 49%;
    float: left;
    border-left: 1px solid #333;
  }
}