<table id="ap_tbl" class='tablesorter'>
  <thead>
    <tr>
      <th class="tab_header first">Country</th>
      <th class="tab_header">Applicants</th>
      <th class="tab_header">Applicants per million</th>
      <th class="tab_header">Decisions</th>
      <th class="tab_header">Positive (%)</th>
    </tr>

  </thead>
  
  <tbody>
  {{#as_applicants}}
  {{#tabData}}
    <tr>
      <td class="column">{{name}}</td>
      <td class="column">
        {{applicants}}
        <div class="appls_bar" style="width:{{format(applicants*100/applicantsMax)}}%"></div>
      </td>
      <td class="column">
        {{appls_per_milllion}}
        <div class="appls_bar" style="width:{{format(appls_per_milllion*100/appls_per_milllionMax)}}%"></div>
      </td>
      <td class="column">
        {{decisions_total}}
        <div class="appls_bar" style="width:{{format(decisions_total*100/decisionsMax)}}%"></div>
      </td>
      <td class="column">
        {{positive_rate}}
        <div class="appls_bar" style="width:{{positive_rate}}%"></div>
      </td>
    </tr>
    {{/tabData}}
  {{/as_applicants}}
  </tbody>
</table>